{% laod socialaccounts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Login</title>
    <style>
        .top {
            height: 40vh;
        }

        .bottom {
            height: 60vh;
            background-color: pink;
            border-top-left-radius: 120px;
        }

        .buttons{
            text-align: center;
            min-width: 260px;
            min-height: 40px;
        }

        .content-wrapper {
            display: flex;
            align-items: center;
            min-height: 100%;
            max-width: 100vw;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="top">
            <!-- Image  -->
        </div>

        <div class="bottom">
            <div class="content-wrapper flex-column">
                <div class="policy row">
                    <p>By clicking <strong>"Login"</strong> you agree with our <strong>Terms</strong>. Learn how we processyour data in our <strong>Privacy Policy</strong> and <strong>Cookies Policy.</strong></p>
                </div>

                <div class="buttons row">
                    <div class="mt-5">
                        <button class="rounded-pill buttons">Log in with Phone Number</button>
                    </div>
                    <div class="mt-2">
                        <button class="rounded-pill buttons">Log in with Facebook</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>