<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/260e5e3e40.js" crossorigin="anonymous"></script>
    <title>Show Me</title>
    <style>
        .fas {
            color: #fe877c;
        }

        .form-div {
            min-width:80%;
            width: 80% !important;
            margin: auto;
            background-color: #f2f2f2;
        }

        .gender, .sexuality {
            border-radius: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <nav class="row">
                <div class="col-2 text-left"><i class="fas fa-arrow-left"></i></div>
                <div class="col-7 text-center"><h4>Show Me</h4></div>
            </nav>
        </div>

        <div class="form-wrapper">
            <!-- Gender  -->
            <div class="row my-3 pb-2">
                <div class="gender form-div p-4">
                    <h4 class="text-center">Gender</h4>
                    <!-- Female  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Female</p>
                        </div>
                        <div class="col-2">
                            <input type="radio" name="gender" value="female">
                        </div>
                    </div>

                    <!-- Male  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Male</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="gender" value="male">
                        </div>
                    </div>

                    <!-- Non-Binary  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Non-Binary</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="gender" value="non-binary">
                        </div>
                    </div>

                    <!-- Transgender Female  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Transgender Female</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="gender" value="transgender female">
                        </div>
                    </div>

                    <!-- Transgender Male  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Transgender Male</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="gender" value="transgender male">
                        </div>
                    </div>

                    <!-- Transgender  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Transgender</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="gender" value="transgender">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sexulaity  -->
            <div class="row my-3">
                <div class="sexuality form-div p-4">
                    <h4 class="text-center">Sexulaity</h4>

                    <!-- Straight  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Straight</p>
                        </div>
                        <div class="col-2">
                            <input type="radio" name="sexuality" value="straight">
                        </div>
                    </div>

                    <!-- Gay  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Gay</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="sexuality" value="gay">
                        </div>
                    </div>

                    <!-- Lesbian  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Lesbian</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="sexuality" value="lesbian">
                        </div>
                    </div>

                    <!-- Bisexual  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Bisexual</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="sexuality" value="bisexual">
                        </div>
                    </div>

                    <!-- Pansexual  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Pansexual</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="sexuality" value="pansexual">
                        </div>
                    </div>

                    <!-- Transgender  -->
                    <div class="row">
                        <div class="col-10">
                            <p>Transgender</p>
                        </div>

                        <div class="col-2">
                            <input type="radio" name="sexuality" value="transgender">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>